# Dependencies
node_modules/

# Environment variables (secrets)
.env
.env.*
# allow example env file
!.env.example

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore uploads folder completely
Backend/uploads/